:root {
  font-size: 10px;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  font-family: sans-serif;
  height: 100vh;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #dcd9d4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5)), to(rgba(0, 0, 0, 0.5))), radial-gradient(at 50% 0%, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.5) 50%);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), radial-gradient(at 50% 0%, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.5) 50%);
  background-blend-mode: soft-light, screen;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.form-container {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#6a85b6), to(#bac8e0));
  background-image: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%);
  min-height: 80%;
  max-width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0 0 88px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 0 88px 0 rgba(0, 0, 0, 0.16);
  border-radius: 12px;
}

.form-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  width: 100%;
  margin: 2rem;
}

.form-container form .animated-container {
  position: relative;
  width: 80%;
  height: 8rem;
  overflow: hidden;
  white-space: nowrap;
}

.form-container form .animated-container input {
  background-color: transparent;
  font-size: 2em;
  width: 100%;
  height: 100%;
  color: #595f6e;
  border: none;
  padding-top: 3.2rem;
  outline: none;
}

.form-container form .animated-container label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid lightgray;
}

.form-container form .animated-container label span {
  position: absolute;
  bottom: 1rem;
  left: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.form-container form .checkbox-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 4rem;
}

.form-container form .button-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 9rem;
}

.form-container form .button-container button {
  padding: 1.75rem 3.5rem;
  background-color: #1fd030;
  color: rgba(0, 0, 0, 0.6);
  border: none;
  cursor: pointer;
  display: inline-block;
  font-weight: 900;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform ease-in-out 150;
  transition: -webkit-transform ease-in-out 150;
  transition: transform ease-in-out 150;
  transition: transform ease-in-out 150, -webkit-transform ease-in-out 150;
}

.form-container form .button-container button:active {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}

.form-container form .account-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 4rem;
}

.animated-container label:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid #5fa8a3;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.animated-container input:focus + label:after,
.animated-container input:valid + label:after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.animated-container input:focus + label span {
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
  color: purple;
}

.animated-container input:valid + label span {
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
  color: purple;
}
/*# sourceMappingURL=style.css.map */