:root {
  font-size: 10px;
}

$page-background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
$form-background: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%);
$primary: purple;

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  font-family: sans-serif;
  height: 100vh;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  // background-image: $page-background;
  background-color: #dcd9d4;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    radial-gradient(
      at 50% 0%,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(0, 0, 0, 0.5) 50%
    );
  background-blend-mode: soft-light, screen;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.form-container {
  background-image: $form-background;
  min-height: 80%;
  max-width: 600px;
  display: flex;
  box-shadow: 0 0 88px 0 rgba(0, 0, 0, 0.16);
  // box-shadow: 0 0 88px 0 rgba(0, 0, 0, 0.1607843137254902);
  border-radius: 12px;

  form {
    display: flex;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    min-height: 100%;
    width: 100%;
    margin: 2rem;

    .animated-container {
      position: relative;
      width: 80%;
      height: 8rem;
      overflow: hidden;
      white-space: nowrap;

      input {
        background-color: transparent;
        font-size: 2em;
        width: 100%;
        height: 100%;
        color: #595f6e;
        border: none;
        padding-top: 3.2rem;
        outline: none;
      } // input

      label {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        border-bottom: 1px solid lightgray;

        span {
          position: absolute;
          bottom: 1rem;
          left: 0;
          transition: all 0.3s ease;
        } // span
      } // label
    } // .animated-container

    .checkbox-container {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 4rem;

      input {
        label {
          a {
          } // a
        } // label
      } // input
    } // .checkbox-container

    .button-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-height: 9rem;

      button {
        padding: 1.75rem 3.5rem;
        background-color: #1fd030;
        color: rgba(0, 0, 0, 0.6);
        border: none;
        cursor: pointer;
        display: inline-block;
        font-weight: 900;
        transform: scale(1);
        transition: transform ease-in-out 150;

        &:active {
          transform: scale(0.97);
        }
      } // button
    } // .button-container
    .account-container {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 4rem;
      a {
      } // a
    } // .account-container
  } // form
} // .form-container

// Animations
.animated-container label:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid #5fa8a3;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.animated-container input:focus + label:after,
.animated-container input:valid + label:after {
  transform: translateX(0%);
}

.animated-container input:focus + label span {
  transform: translateY(-150%);
  color: $primary;
}
.animated-container input:valid + label span {
  transform: translateY(-150%);
  color: $primary;
}
